// Style parameters -- mostly color and typographic spacing

$color_link:    hsl(246, 90%, 40%);
$color_visited: hsl(276, 70%, 20%);
$color_hover:   hsl(6,   80%, 40%);

$color_link_underline:    lighten($color_link, 45);
$color_visited_underline: lighten($color_visited, 60);
$color_hover_underline:   lighten($color_hover, 30);

$color_text:       black;
$bgcolor_main:     hsl(195, 15%, 95%);
$bgcolor_main_alt: darken($bgcolor_main, 5);
