/* Typography */

body {
  font-family: "Noto Serif", "Droid Serif", "Georgia", "Utopia",
               "Charter", serif;
}

a         { color: #1d0ac2; text-decoration: none }
a:visited { color: #3a0f57 }
a:hover   { color: #b82514 }

.entry-content a         { border-bottom: 1px solid #b8b3e6 }
.entry-content a:visited { border-bottom: 1px solid #d1b3e6 }
.entry-content a:hover   { border-bottom: 1px solid #e6b8b3 }
@supports (text-decoration: underline #b8b3e6) {
  .entry-content a         { text-decoration: underline #b8b3e6; border-bottom: none }
  .entry-content a:visited { text-decoration: underline #d1b3e6; border-bottom: none }
  .entry-content a:hover   { text-decoration: underline #e6b8b3; border-bottom: none }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Mostra Nuova", sans-serif;
  font-weight: normal;
}

q { quotes: "“" "”" "‘" "’"; }
q:before { content: open-quote; }
q:after { content: close-quote; }

@supports (text-decoration: underline dotted) {
  abbr[title] { text-decoration: underline dotted; border-bottom: none; }
}

/* Paragraph-level formatting */
address { display: inline }

blockquote {
  font-size: 95%;
  font-style: italic;
}
blockquote i, blockquote em {
  font-style: normal;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
figure {
  margin: 3em auto 1em auto;
  border: 1px solid black;
  padding: 3px;
  width: -moz-min-content;
  width: -webkit-min-content;
  width: min-content;
}
figcaption {
  font-size: smaller;
  font-style: italic;
  padding: 2px 0 2px 1em;
}
legend {
  border: 0;
  margin-left: -7px;
  padding: 0;
  white-space: normal;
}

p {
  margin: 0 0 0.5em;
}
blockquote {
  border-left: 1px solid black;
  padding-left: .5em;
  margin: 1em 2em 1em 10px;
}
ul, ol {
  margin: 0 0 0.75em;
  padding: 0 0 0 2em;
}
blockquote ul, blockquote ol, ul ul, ul ol, ol ul, ol ol {
  padding-left: 1.5em;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 0 0 2em;
}
blockquote dd {
  margin-left: 1.5em;
}

.aligncenter { display: block; margin: 0 auto; }
.alignleft { margin: 0 20px 20px 0; float: left; }
.alignright { margin: 0 0 20px 20px; float: right; }

table {
  border-collapse: separate;
  border-spacing: 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 0 2em 0.5em 2em;
  padding: 0 5px;
}
td, th {
  vertical-align: baseline;
  text-align: right;
  padding: 3px 5px;
}
thead th {
  text-align: center;
}
tbody > tr:nth-child(even) {
  background-color: #dad9cf;
}
thead > tr:last-child > th, thead > tr:last-child > td {
  border-bottom: 1px solid black;
}

/* Small-scale page structure */

.page-header, .post-header {
  padding: 20px 0;
}

.page-header h1, .post-header h1, .post-header h2 {
  line-height: 1;
  padding-bottom: 2px;
  border-bottom: 1px solid #333;
  margin: 0;
}

.entry-meta {
  display: block;
  width: auto;
  float: right;
  font-size: 12px;
  font-style: italic;
}

.widget > h3 {
  font-size: 1.5em;
}

.widget > ul {
  margin: 0;
  padding: 0 0 0 2em;
  text-indent: -1em;
  column-width: 15em;
  -moz-column-width: 15em;
  -webkit-column-width: 15em;
  column-gap: 1em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
}

.pager {
  list-style: none;
  margin: 18px 0;
  text-align: center;
  zoom: 1;
}
.pager:before,.pager:after {
  content: "";
  display: table;
}
.pager:after {
  clear: both;
}
.pager > a {
  font-size: smaller;
  font-style: italic;
  display: inline-block;
}
.pager > a[rel="next"] {
  float: right;
}
.pager > a[rel="prev"] {
  float: left;
}


#comments, #respond, #submit { clear: both; display: block; }

.commentlist, .children { list-style-type: none; }
.commentlist { padding-left: 0 }
.children { padding-left: .5em }

.avatar { float: left; margin-right: 10px; }

li.comment {
  border-left: 2px solid #cdc8bf;
  margin-bottom: .75em;
}
li.comment.comment-author-zackw {
  border-left-color: #c7d2cf;
}

.comment-author {
  font-size: 90%;
  padding: 4px 0 4px 4px;
  min-height: 32px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #cdc8bf;
  line-height: 1;
}
.comment-author-zackw > article > .comment-author {
  background-color: #c7d2cf;
}

.comment-author > cite {
  display: block;
}
.comment-author > time {
  display: block;
  padding-top: 2px;
}
.comment-edit-link {
  display: block;
  float: right;
  margin-top: -2em;
  margin-right: .5em;
}

section.comment {
  clear: left;
  margin-left: 1ex;
  margin-top: 1ex;
}
.comment-reply-link {
  margin-left: 1ex;
  font-size: 95%;
}

#respond > h3 {
  border-bottom: 1px solid #610505;
}

#commentform {
  margin: 0 1em 3em 1em;
}
#commentform label {
  padding-left: 0.5em;
}
#commentform input {
  display: inline-block;
  width: 40%;
}
#commentform textarea {
  width: 95%;
  min-height: 12em;
  resize: vertical;
}

.cclosed {
  font-weight: normal;
  font-style: italic;
  font-size: 1.17em;
  margin: 1em 0;
}

.alert {
  background-color: #c6c1c5;
  border-radius: 4px;
  margin: 18px 0;
  padding: 8px 35px 8px 14px;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Overall layout */
body {
  background: url("chevrons.svg") #e0e6ea;
}

#main {
  max-width: 48em;
  line-height: 1.3;
  padding: 0.1px 1em;
  background-color: #f0f3f4;
  background-clip: padding-box;
  border-width: 18px 0 0 18px;
  border-style: solid;
  border-color: transparent;
  border-image-source: url(corner.svg);
  border-image-slice: 18 0 0 83;
  border-image-width: 18px 0 0 83px;
  border-image-outset: 0 0 0 65px;
}

#content {
}
#sidebars {
  font-size: 80%;
  padding: 1em 0;
  margin: 0 1em;
  max-width: 60.46875em;
}
#content-info {
  font-size: 80%;
  padding: 1em 0;
  margin: 0 1em;
  max-width: 60.46875em;
  border-top: 1px solid #333;
}
#banner {
  padding: 0.1px 0.5em;
  position: relative; /* abspos container */
}
#brand {
  margin-top: 0;
  margin-bottom: 1.25em;
  font-size: 3em;
}
.topbar-left, .topbar-right {
  margin: 0;
  padding: 0;
  font-size: 80%;
  position: absolute;
  bottom: 0.5em;
}
.topbar-left {
  left: 0.625em;
}
.topbar-right {
  text-align: right;
  left: 15em;
}

@media screen and (max-width: 273px) {
  #brand {
    text-align: center;
  }
  .topbar-right {
    left: auto;
    right: 0.625em;
  }
}
@media screen and (max-width: 360px) {
  #main {
    font-size: 90%;
    border-left: 0;
    border-image-width: 18px 0 0 0;
  }
}
@media screen and (min-width: 768px) {
  @supports (flex-wrap: wrap) {
    body {
      display: flex;
      flex-wrap: wrap;
      /* The owl is coded here because it appears under the left margin of
         the banner, which you can't do with a background on the
         banner itself. */
      background: url("cbot-owl.svg") 7px 6px no-repeat,
                  url("chevrons.svg"),
                  #e0e6ea;
    }
    #banner, #content-info {
      flex: 1 100%;
    }
    #banner {
      order: 1;
      margin-left: 250px;
    }
    #sidebars {
      flex: none;
      order: 2;
      width: 143px;
      border-top: none;
    }
    #main {
      flex: auto;
      order: 3;
      width: calc(100% - 250px);
    }
    #content-info {
      order: 4;
      margin-top: 0;
      margin-left: 224px;
      border-top: none;
    }
  }
}
@media print {
  .topbar, .pager, #sidebars, #brand { display: none }
  #main { border: none }

  .page-header h1::after,
  .post-header h1::after {
    content: " | Owl’s Portfolio";
  }
  a { color: black !important; }
}
