// Font-face rules before everything else, so the loads can be kicked off ASAP.
// Mostra Nuova © Mark Simonson Studios
// http://www.fontspring.com/licenses/mark-simonson-studio/webfont
@import "font-face";
@include font-face("Mostra Nuova", "f/MostraNuova-Regular",
  ("woff2", "woff", "ttf", "svg", "eot"),
  $svg_fragment: mostra_nuova_regular,
  $url_func: url
);

// Normalization.
// This is all of the h5bp-normalize components _except_ -forms, which
// does things I consider questionable (and it's not like this site uses
// forms much, anyway)  Some of this will be overridden below.

@import "h5bp/normalize";
@include normalize-base;
@include normalize-display;
@include normalize-links;
@include normalize-semantics;
@include normalize-embedded;
@include normalize-grouping;
@include normalize-tables;

// Compass has a mixin for prefixing *properties* but not *values*.
@import "compass/support";
@mixin prefixed-values($capability, $threshold, $properties,
                       $capability-options: $default-capability-options) {
  @include with-each-prefix($capability, $threshold, $capability-options) {
    @each $prop, $value in $properties {
      #{$prop}: prefix-identifier($value, $current-prefix);
    }
  }
}

// The bulk of the style rules are in partials:

@import "params";
@import "layout";
@import "comments";
@import "highlighting";
@import "typography";
