html { width: 100%; height: 100%; }
body {
    background-color: #ecedeb;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

section {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 798px;
    height: 598px;
    position: relative; /* is a container */
    margin: 0 auto;
    padding: 0 23px;
    background-color: white;
    font-family: "cabin";
    visibility: hidden;
}

section.currentSlide {
    visibility: visible;
}

.slideNumber {
    position: absolute;
    right: 8px;
    bottom: 8px;
    font-size: 14px;
    color: #666;
}

img, object {
    display: block;
    margin: 18px auto;
    max-width: 728px;
    max-height: 420px;
}

.floatgraf {
    clear: right;
    float: right;
    width: 350px;
    margin: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-style: normal;
    font-family: "playfair display";
    font-size: 42px;
    margin: 0 0 6px 0;
    padding: 0;
    color: #666;
    border-bottom: 2px solid #888;
}

p, ol, ul {
    font-size: 28px;
}

ol ol, ul ul, ol ul, ul ol {
    font-size: 24px;
}

pre {
    display: block;
    float: right;
    padding: 8px;
    border: 1px solid #888;
    margin: 12px 0 0 24px;
    color: #888;
    font-size: 16px;
}
pre b {
    font-weight: normal;
    color: #000;
}

figure {
    margin: 18px auto;
}

figure > p {
    text-align: center;
    margin: 0 0 4px 0;
    font-size: 20px;
}
figure > img, figure > object {
    margin: 0 auto;
}
figure > figcaption {
    text-align: right;
    margin-top: 4px;
    font-size: 16px;
}

section.title hgroup {
    padding-top: 48px;
}

section.title h1 {
    color: #000;
    font-size: 56px;
    text-align: center;
    line-height: 110%;
    margin-bottom: 1em;
    border: none;
}
section.title h2 {
    color: #000;
    font-size: 32px;
    font-family: "cabin";
    text-align: center;
    margin-bottom: 1em;
    border: none;
}
section.title h3 {
    color: #000;
    font-size: 24px;
    font-family: "cabin";
    text-align: center;
    margin-bottom: 1em;
    border: none;
}
section.title .slideNumber {
    display: none;
}
section.title p {
    margin-top: 3em;
    text-align: center;
}
section.title p > img {
    display: inline;
    margin: 0 20px;
    height: 64px;
}

section > object:first-child {
    padding-top: 100px;
}

pre, code {
    font-family: "inconsolata";
}


body.menu-mode {
    overflow-y: scroll;
    width: 670px;
    margin: 0 auto;
}

body.menu-mode section {
    display: inline-block;
    vertical-align: top;
    visibility: visible;
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 0 5px;
}

body.menu-mode section.currentSlide {
    background-color: #ecedff;
}
body.menu-mode section:hover, body.menu-mode section.candidate {
    box-shadow: 2px 2px 3px 2px;
}

body.menu-mode .slideNumber {
    z-index: 2;
    background: #ccc;
}
body.menu-mode img, body.menu-mode object {
    margin: 4px auto;
    max-width: 170px;
    max-height: 100px;
}
body.menu-mode .floatgraf {
    width: 87px;
    margin: 4.5px;
}
body.menu-mode h1, body.menu-mode h2, body.menu-mode h3,
body.menu-mode h4, body.menu-mode h5, body.menu-mode h6 {
    font-size: 9px;
}

body.menu-mode p, body.menu-mode ol, body.menu-mode ul {
    font-size: 7px;
    margin: 2px 0;
}
body.menu-mode ul, body.menu-mode ol {
    padding-left: 10px;
}
body.menu-mode ol ol, body.menu-mode ul ul,
body.menu-mode ol ul, body.menu-mode ul ol {
    font-size: 6px;
}

body.menu-mode pre {
    padding: 2px;
    border: none;
    margin: 3px 0 0 6px;
    font-size: 4px;
}
body.menu-mode figure {
    margin: 4.5px auto;
}
body.menu-mode figure > p {
    margin: 0 0 1px 0;
    font-size: 5px;
}
body.menu-mode figure > figcaption {
    margin-top: 1px;
    font-size: 4px;
}
body.menu-mode section.title hgroup {
    padding-top: 12px;
}
body.menu-mode section.title h1 {
    font-size: 10px;
}
body.menu-mode section.title h2 {
    font-size: 8px;
}
body.menu-mode section.title h3 {
    font-size: 6px;
}
body.menu-mode section.title p > img {
    height: 16px;
    margin: 0 5px;
}
body.menu-mode section > object:first-child {
    padding-top: 25px;
}


@media all and (min-width: 1022px) and (min-height: 766px) {
    section { width: 1022px; height: 766px; }
    div.content, header, footer { width: 976px; }
    header      { height: 96px; }
    div.content { height: 624px; }
    footer      { height: 48px; }
    img, object { max-width: 952px; max-height: 580px; }
    section.title header {
        height: 720px;
        padding-top: 0;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 48px;
        margin: 12px 0;
        padding-bottom: 6px;
    }
    .floatgraf { width: 500px }
    pre { font-size: 18px }
    p, ol, ul {
        font-size: 32px;
    }
    ol ol, ul ul, ol ul, ul ol {
        font-size: 28px;
    }
    body.menu-mode {
        width: 900px;
    }
}

/* todo:
   print style
   transitions?
   typography
 */
