{# Layout template for category archives.
 #
 # Copyright (c) 2014-2022 Zack Weinberg
 #
 # This template is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.  See the file GPL-3 at the top
 # level of the source distribution for further details, or refer to
 # <http://www.gnu.org/licenses/#GPL>.
 #}
{% extends "base.njk" %}
{% from "macros.njk" import article_header %}
{% block title %}{{ title }} | {{ sitename }}{% endblock %}
{% block content %}
  <header class="post-header">
    <h1 class="entry-title">{{ title }}</h1>
  </header>
  {{ contents | safe }}
  {% for article in collections[collection[0]] %}
    <article class="hentry">
      {{- article_header(2, article.path, article.title,
                         article.creation_date,
                         article.last_modification_date) }}
      <div class="entry-content">
        {{ article.excerpt | safe }}
        {%- if article.continued %}
          <p><a href="{{ article.path | canon_path }}">Continued…</a></p>
        {%- endif %}
      </div>
    </article>
  {% endfor %}
{% endblock %}
