{% macro topbar(pages, menuitems) -%}
<nav class="topbar">
{# Currently pages can only go on the left. -#}
  <ul class="topbar-left">
  {%- for p in pages %}
    {%- if not p.no_menu %}
      <li class="menu{% if p == page %} active{% endif %}"
      ><a href="/{{ p.url }}">{{ p.title.split()[0] }}</a></li>
    {%- endif %}
  {%- endfor %}
  {%- for title, link, position in menuitems %}
    {%- if position == 'left' %}
      <li class="menu"><a href="{{ link }}">{{ title }}</a></li>
    {%- endif %}
  {%- endfor %}
  </ul>
  <ul class="topbar-right">
    {%- for title, link, position in menuitems %}
      {%- if position == 'right' %}
        <li class="menu"><a href="{{ link }}">{{ title }}</a></li>
      {%- endif %}
    {%- endfor %}
  </ul>
</nav><!-- #topbar -->
{%- endmacro %}

{% macro pager(older_page, older_label, newer_page, newer_label) %}
<nav id="post-nav" class="pager">
{% if older_page %}
  <a rel="prev" href="/{{ older_page.url }}">← {{ older_label }}</a>
{% endif %}
{% if newer_page %}
  <a rel="next" href="/{{ newer_page.url }}">{{ newer_label }} →</a>
{% endif %}
</nav>
{% endmacro %}

{% macro article_header(article, level) %}
<header class="post-header">
  <h{{ level }} class="entry-title"><a
       href="/{{ article.url }}" rel="bookmark"
       title="Permalink to {{ article.title | striptags }}"
  >{{ article.title }}</a></h{{ level }}>
  <div class="entry-meta">
  {#
    {%- if article.comments_count == 1 %}1 comment&#8193;
    {%- elif article.comments_count > 1 %}{{ article.comments_count }} comments&#8193;
    {%- endif -%}
  #}
    <time class="published" datetime="{{ article.date.isoformat() }}"
          >{{ article.locale_date }}</time>
  {#
    {%- if article.modified -%}
    &#8193;Edited
    <time class="modified" datetime="{{ article.modified.isoformat() }}"
          >{{ article.locale_modified }}</time>
    {%- endif -%}
  #}
  </div>
</header>
{% endmacro %}

{% macro category_list(categories) -%}
<nav class="index widget">
  <h3>Topics</h3>
  <ul>
    {% for category, articles in categories|sort %}
    <li><a href="/{{ category.url }}">{{ category }}</a></li>
    {% endfor %}
  </ul>
</nav>
{%- endmacro %}

{% macro recent_posts(articles, n) -%}
<nav class="index widget">
  <h3>Recent Posts</h3>
  <ul>
    {% for i in range(n) %}
    <li><a href="/{{ articles[i].url }}">{{ articles[i].title }}</a></li>
    {% endfor %}
  </ul>
</nav>
{%- endmacro %}

{% macro outbound_links(group) -%}
<nav class="blogroll widget">
  <h3>{{ group.group }}</h3>
  <ul>
    {%- for link in group.links %}
    {% if link.u -%}
    <li><a href="{{ link.u }}"
          {%- if group.rel %} rel="{{ group.rel }}"{% endif -%}
          {%- if link.h %} title="{{ link.h }}"{% endif -%}
        >{{ link.n }}</a></li>
    {%- else -%}
    <li><abbr
           {%- if link.h %} title="{{ link.h }} (no website)"
           {%-      else %} title="(no website)"{% endif -%}
           >{{ link.n -}}
    </abbr></li>
    {%- endif -%}
    {% endfor %}
  </ul>
</nav>
{%- endmacro %}
