{# Layout template macros.
 #
 # Copyright (c) 2014-2022 Zack Weinberg
 #
 # This template is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.  See the file GPL-3 at the top
 # level of the source distribution for further details, or refer to
 # <http://www.gnu.org/licenses/#GPL>.
 #}
{% macro topbar(pages, menuitems) -%}
<nav class="topbar">
{# Currently pages can only go on the left. -#}
  <ul class="topbar-left">
  {%- for p in pages %}
    {%- if not p.no_menu %}
      <li class="menu{% if p == page %} active{% endif %}"
      ><a href="/{{ p.path }}">{{ p.title.split()[0] }}</a></li>
    {%- endif %}
  {%- endfor %}
  {%- for title, link, position in menuitems %}
    {%- if position == 'left' %}
      <li class="menu"><a href="{{ link }}">{{ title }}</a></li>
    {%- endif %}
  {%- endfor %}
  </ul>
  <ul class="topbar-right">
    {%- for title, link, position in menuitems %}
      {%- if position == 'right' %}
        <li class="menu"><a href="{{ link }}">{{ title }}</a></li>
      {%- endif %}
    {%- endfor %}
  </ul>
</nav><!-- #topbar -->
{%- endmacro %}

{% macro pager(older, newer) -%}
<nav id="post-nav" class="pager">
{%- if older %}
  <a rel="prev" href="/{{ older.path }}/">← {{ older.title }}</a>
{%- endif %}
{%- if newer %}
  <a rel="next" href="/{{ newer.path }}/">{{ newer.title }} →</a>
{%- endif %}
</nav>
{%- endmacro %}

{% macro article_header(_level, _path, _title, _c_date, _m_date) %}
<header class="post-header">
  <h{{ _level }} class="entry-title"><a
       href="/{{ _path }}" rel="bookmark"
       title="Permalink to {{ _title | striptags }}"
  >{{ _title }}</a></h{{ _level }}>
  <div class="entry-meta">
  {#-
    {%- if article.comments_count == 1 %}1 comment&#8193;
    {%- elif article.comments_count > 1 %}{{ article.comments_count }} comments&#8193;
    {%- endif -%}
  -#}
    {%- if _c_date %}
      <time class="published" datetime="{{ _c_date.toISO() }}"
      >{{ _c_date.toFormat('d LLLL yyyy') }}</time>
      {%- if _m_date -%}
        &#8193;Last updated
        <time class="modified" datetime="{{ _m_date.toISO() }}"
        >{{ _m_date.toFormat('d LLLL yyyy') }}</time>
      {%- endif -%}
    {%- endif -%}
  </div>
</header>
{% endmacro %}

{% macro category_list(categories) -%}
<nav class="index widget">
  <h3>Topics</h3>
  <ul>
    {%- for slug, title in categories | describe_collections %}
      <li><a href="/{{ slug }}">{{ title }}</a></li>
    {%- endfor %}
  </ul>
</nav>
{%- endmacro %}

{% macro recent_posts(articles) -%}
<nav class="index widget">
  <h3>Recent Posts</h3>
  <ul>
    {%- for i in range(10) %}
    <li><a href="/{{ articles[i].path }}">{{ articles[i].title }}</a></li>
    {%- endfor %}
  </ul>
</nav>
{%- endmacro %}

{% macro outbound_links(group) -%}
<nav class="blogroll widget">
  <h3>{{ group.group }}</h3>
  <ul>
    {%- for link in group.links %}
    {% if link.u -%}
    <li><a href="{{ link.u }}"
          {%- if group.rel %} rel="{{ group.rel }}"{% endif -%}
          {%- if link.h %} title="{{ link.h }}"{% endif -%}
        >{{ link.n }}</a></li>
    {%- else -%}
    <li><abbr
           {%- if link.h %} title="{{ link.h }} (no website)"
           {%-      else %} title="(no website)"{% endif -%}
           >{{ link.n -}}
    </abbr></li>
    {%- endif -%}
    {% endfor %}
  </ul>
</nav>
{%- endmacro %}
