{# Layout template for meta pages.
 #
 # Copyright (c) 2014-2022 Zack Weinberg
 #
 # This template is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.  See the file GPL-3 at the top
 # level of the source distribution for further details, or refer to
 # <http://www.gnu.org/licenses/#GPL>.
 #}
{% extends "base.njk" %}
{% block title %}{{ title | striptags }} | {{ sitename }}{% endblock %}
{% block content %}
<article id="content" class="body">
  <header class="page-header">
    <h1 class="entry-title">{{ title }}</h1>
  </header>
  <div class="entry-content">
    {{ contents | safe }}
  </div>
</article>
{% endblock %}
