{# Layout template for posts.
 #
 # Copyright (c) 2014-2022 Zack Weinberg
 #
 # This template is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.  See the file GPL-3 at the top
 # level of the source distribution for further details, or refer to
 # <http://www.gnu.org/licenses/#GPL>.
 #}
{% extends "base.njk" %}
{% from "macros.njk" import article_header, pager %}
{% block title %}{{ title }} | {{ sitename }}{% endblock %}
{% block content %}
<article id="content" class="body">
  {{ article_header(1, path, title, creation_date, last_modification_date) }}
  <div class="entry-content">
    {{ contents | safe }}
  </div>
  {{ pager(next, previous) }}
</article>
{% endblock %}
