{% extends "base.njk" %}
{% from "macros.njk" import article_header, pager %}
{% block title %}{{ title }} | {{ sitename }}{% endblock %}
{% block content %}
<article id="content" class="body">
  {{ article_header(1, path, title, creation_date, last_modification_date) }}
  <div class="entry-content">
    {{ contents | safe }}
  </div>
  {{ pager(next, previous) }}
</article>
{% endblock %}
