{% extends "base.html" %}
{% from "macros.html" import pager, article_header %}
{% block title %}{{ article.title }} | {{ SITENAME }}{% endblock %}
{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}">
  {% endfor %}
  {% for description in article.description %}
    <meta name="description" contents="{{description}}">
  {% endfor %}
  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}">
  {% endfor %}
{% endblock %}

{% block content %}
<article id="content" class="body">
  {{ article_header(article, 1) }}
  <div class="entry-content">
    {{ article.content }}
  </div>
</article>
{{ pager(article.next_article, article.next_article.title,
         article.prev_article, article.prev_article.title) }}
{% endblock %}
