{% macro pager(older_page, older_label, newer_page, newer_label) %}
<nav id="post-nav" class="pager">
{% if older_page %}
  <a rel="prev" href="/{{ older_page.url }}">← {{ older_label }}</a>
{% endif %}
{% if newer_page %}
  <a rel="next" href="/{{ newer_page.url }}">{{ newer_label }} →</a>
{% endif %}
</nav>
{% endmacro %}

{% macro article_header(article, level) %}
<header class="post-header">
  <h{{ level }} class="entry-title"><a
       href="/{{ article.url }}" rel="bookmark"
       title="Permalink to {{ article.title | striptags }}"
  >{{ article.title }}</a></h{{ level }}>
  <div class="entry-meta">
    {%- if article.comments_count == 1 %}1 comment&#8193;
    {%- elif article.comments_count > 1 %}{{ article.comments_count }} comments&#8193;
    {%- endif -%}
    <time class="published" datetime="{{ article.date.isoformat() }}"
          >{{ article.locale_date }}</time>
    {%- if article.modified -%}
    &#8193;Edited
    <time class="modified" datetime="{{ article.modified.isoformat() }}"
          >{{ article.locale_date }}</time>
    {%- endif -%}
  </div>
</header>
{% endmacro %}

{% macro category_list(categories) %}
<article class="widget">
  <h3>Topics</h3>
  <ul>
    {% for category, articles in categories|sort %}
    <li><a href="/{{ category.url }}">{{ category }}</a></li>
    {% endfor %}
  </ul>
</article>
{% endmacro %}

{% macro recent_posts(articles, n) %}
<article class="widget">
  <h3>Recent Posts</h3>
  <ul>
    {% for i in range(n) %}
    <li><a href="/{{ articles[i].url }}">{{ articles[i].title }}</a></li>
    {% endfor %}
  </ul>
</article>
{% endmacro %}

{% macro outbound_links(section_title, links, attrs='') %}
<article class="widget">
  <h3>{{ section_title }}</h3>
  <ul>
    {% for link, title, url in links %}
    {% if url %}
    <li><a href="{{ url|e }}" {{ attrs }}
           {% if title -%}
           title="{{ title|e }}"
           {%- endif -%}
           >{{ link }}</a></li>
    {% else %}
    <li><abbr
           {% if title -%}
           title="{{ title|e }} (no website)"
           {%- else -%}
           title="(no website)"
           {%- endif -%}
           >{{ link
        }}</abbr></li>
    {% endif %}
    {% endfor %}
  </ul>
</article>
{% endmacro %}
